{% extends 'base.html' %}
{% block content %}

<h1>Hotel List</h1>

<!-- you get two variables in the list page (index page) -->

<!-- <model_name>_list 
object_list -->


{% for hotel in hotel_list %}
  <a href="{% url 'hotels_detail' hotel.id %}">
    <div class="card">
        <div class="card-content">
            <span class="card-title">{{ hotel.name }}</span>
             <p>Address: {{ hotel.address }}</p>
            <p>Description: {{ hotel.description }}</p>
        </div>
    </div>
  </a>
{% endfor %}

{% endblock %}