{% extends 'base.html' %}
{% block content %}

<h1>Hotel Details</h1>

<div class="row">
  <div class="col s12">
    <div class="card">
      <div class="card-content" style="text-align: center;">
        <span class="card-title">{{ hotel.name }}</span>
        <p>Address: {{ hotel.address }}</p>
        <p>Description: {{ hotel.description }}</p>
      </div>
      <div class="card-action">
        <a href="{% url 'hotels_update' hotel.id %}">Edit</a>
        <a href="{% url 'hotels_delete' hotel.id %}">Delete</a>
      </div>
    </div>
  </div>
</div>

{% if hotel.photo_set.count > 0 %}
<div class="row">
  {% if hotel.photo_set.count > 1 %}
    {% for photo in hotel.photo_set.all %}
      <div class="col s12 m6 l4">
        <div class="center-align">
          <img class="responsive-img" src="{{photo.url}}" style="max-width: 100%; height: auto;">
        </div>
      </div>
    {% endfor %}
  {% else %}
    <div class="col s12">
      <div class="center-align">
        {% for photo in hotel.photo_set.all %}
          <img class="responsive-img" src="{{photo.url}}" style="max-width: 100%; height: auto;">
        {% endfor %}
      </div>
    </div>
  {% endif %}
</div>
{% else %}
<div class="row">
  <div class="col s12">
    <div class="card-panel teal-text center-align">No Photos Uploaded</div>
  </div>
</div>
{% endif %}

<form action="{% url 'add_hotel_photo' hotel.id %}" enctype="multipart/form-data" method="POST" class="card-panel" style="text-align: center;">
  {% csrf_token %}
  <div class="file-field input-field">
    <div class="btn">
      <span>Upload Photo</span>
      <input type="file" name="photo-file">
    </div>
    <div class="file-path-wrapper">
      <input class="file-path validate" type="text">
    </div>
  </div>
  <button type="submit" class="btn">Upload</button>
</form>

{% endblock %}
