{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Friend Collector</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" href="{% static 'style.css' %}">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>

<body>
  <header>
    <nav class="indigo darken-3">
      <div class="logo">
        <a href="/" class="brand-logo left">&nbsp;&nbsp;Friends</a>
      </div>
      <div class="nav-wrapper container">
        <a href="#" data-target="mobile-demo" class="sidenav-trigger right"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
          {% if user.is_authenticated %}
          <li><a href="/about">About</a></li>
          <li><a href="/friends">View All Travlers</a></li>
          <li><a href="{% url 'friends_create' %}">Add a Travler</a></li>
          <li><a href="{% url 'restaurants_index' %}">View All Restaurants</a></li>
          <li><a href="{% url 'restaurants_create' %}">Add a Restaurant</a></li>
          <li><a href="{% url 'hotels_index' %}">View All Hotels</a></li>
          <li><a href="{% url 'hotels_create' %}">Add A Hotel</a></li>
          <li>
            <form method="post" action="{% url 'logout' %}">
              {% csrf_token %}
              <button type="submit" class="btn">logout</button>
            </form>
          </li>
          {% else %}
          <li><a href="{% url 'login' %}">login</a></li>
          <li><a href="{% url 'signup' %}">signup</a></li>
          {% endif %}
        </ul>
      </div>
    </nav>
  </header>

  <ul class="sidenav" id="mobile-demo">
    {% if user.is_authenticated %}
    <li><a href="/about">About</a></li>
    <li><a href="/friends">View All My Friends</a></li>
    <li><a href="{% url 'friends_create' %}">Add a Friend</a></li>
    <li><a href="{% url 'restaurants_index' %}">View All Restaurants</a></li>
    <li><a href="{% url 'restaurants_create' %}">Add a Restaurant</a></li>
    <li><a href="{% url 'hotels_index' %}">View All Hotels</a></li>
    <li><a href="{% url 'hotels_create' %}">Add A Hotel</a></li>
    <li>
      <form method="post" action="{% url 'logout' %}">
        {% csrf_token %}
        <button type="submit" class="btn">logout</button>
      </form>
    </li>
    {% else %}
    <li><a href="{% url 'login' %}">login</a></li>
    <li><a href="{% url 'signup' %}">signup</a></li>
    {% endif %}
  </ul>

  <main class="container">
    {% block content %}
    {% endblock %}
  </main>

  <script>
    document.addEventListener('DOMContentLoaded', function () {
      var elems = document.querySelectorAll('.sidenav');
      var instances = M.Sidenav.init(elems);
    });
  </script>
</body>

</html>
