{% extends 'base.html' %}
{% block content %}

<h1 style="text-align: center;"> Details</h1>

<div class="row">
  <div class="card">
    <div class="card-content"  style="text-align: center;">
      <span class="card-title">{{ friend.name }}</span>
      <p>Description: {{ friend.description|linebreaks }}</p>
      {% if friend.age > 0 %}
      <p>Age: {{ friend.age }}</p>
      {% else %}
      <p>Age: Friend</p>
      {% endif %}
    </div>
    <div  style="text-align: center;" class="card-action">
      <a style="margin: 10px" href="{% url 'friends_update' friend.id %}">Edit</a>
      <a style="margin: 10px" href="{% url 'friends_delete' friend.id %}">Delete</a>
    </div>
  </div>
  <div class="col s10" style="border: .5px solid rgb(214, 214, 214); padding: 10px; margin: 6vw">
    <!-- if the action is left blank its submits to the same
    place used to get the form, which is in this case 
    /cats/4, /cats/someid -->
    <form   style="text-align: center;" action="{% url 'add_activity' friend.id %}" method="POST">
      {% csrf_token %}

      {{ activity_form.as_p }}
      <input type="submit" class="btn indigo darken-3" value="Add Activity">
    </form>

  </div>
  <table class="striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>City</th>
      </tr>
    </thead>
    <tbody>
      {% for activity in friend.activity_set.all %}
      <tr>
        <td>{{activity.name}}</td>
        <td>{{activity.city}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

  <hr>
  <div class="row">
    <div class="col s6">
      <h3 style="font-size: 30px;">{{ friend.name }}'s Been To</h3>
      {% if friend.restaurants.count %}
      {% for restaurant in friend.restaurants.all %}
      <div class="card">
        <div class="card-content">
          <span class="card-title" style="font-size: 20px;">
            <span> {{ restaurant.name }} {{ restaurant.address }} {{ restaurant.description }}
          </span>
        </div>
      </div>
      {% endfor %}
      {% else %}
      <h5>No Restaurants </h5>
      {% endif %}
    </div>
    <div class="col s6">
      <h3 style="font-size: 30px;">Other Restaurants</h3>
      {% if restaurants.count %}
      {% for restaurant in restaurants.all %}
      <div class="card">
        <div class="card-content">
          <span class="card-title" style="font-size: 20px;">
            {{ restaurant.name }} {{ restaurant.address }} {{ restaurant.description }}
          </span>
        </div>
        <div class="card-action">
          <form action="{% url 'assoc_restaurant' friend.id restaurant.id %}" method="POST">
            {% csrf_token %}
            <button type="submit" class="btn" style="font-size: 15px; background-color: #283593;">Add</button>
          </form>
        </div>
      </div>
      {% endfor %}
      {% else %}
      <h5>{{friend.name}} Already Has All Restaurants Available</h5>
      {% endif %}
    </div>




    {% endblock %}